.header {
    white-space: nowrap;
    overflow: hidden;
    z-index: 1000;
}

.header_button {
    position: absolute;
    display: inline-block;
    cursor: default;
    -webkit-user-select: none;
    user-select: none;
}
/*
.header_button:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: -100;
    -webkit-transition: opacity 400ms ease-in-out;
    transition: opacity 400ms ease-in-out;
    border-radius: 4px;
}*/

.header_button_container {
    position: absolute;
    background-color: rgba(0, 255, 255, 0.08);
    -webkit-transition: all 400ms ease;
    transition: all 400ms ease;
}
.header_button_container:hover {
    opacity: 1;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
}
.header_button_container:hover .header_button {
    margin-left: -1px;
}

.header_button_container:hover {
    background-color: rgba(0, 255, 255, 0.19);
}

.header_button > div > a {
    display: inline-block;
}
