.header {
    white-space: nowrap;
    overflow: hidden;
}

.header_button {
    display: inline-block;
    position: relative;
    background-image: -webkit-linear-gradient(#0191FF, #1A4FD5);
    background-image: linear-gradient(#0191FF, #1A4FD5);
    z-index: 100;
}
.header_button:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: -100;
    -webkit-transition: opacity 400ms ease-in-out;
    transition: opacity 400ms ease-in-out;
    background-image: -webkit-linear-gradient(#0064AB, #173C91);
    background-image: linear-gradient(#0064AB, #173C91);
}
.header_button:hover:before {
    opacity: 1;
}

.header_button > div {
    display: inline-block;
    font-family: 'Roboto Condensed', sans-serif;
}

.header_button > div > a {
    display: inline-block;
}
