.header {
    white-space: nowrap;
    overflow: hidden;
}

.header_button {
    display: inline-block;
    position: relative;
    background-image: -webkit-gradient(
    	linear,
    	left bottom,
    	left top,
    	color-stop(0, #1A4FD5),
    	color-stop(1, #0191FF)
    );
    background-image: -o-linear-gradient(top, #1A4FD5 0%, #0191FF 100%);
    background-image: -moz-linear-gradient(top, #1A4FD5 0%, #0191FF 100%);
    background-image: -webkit-linear-gradient(top, #1A4FD5 0%, #0191FF 100%);
    background-image: -ms-linear-gradient(top, #1A4FD5 0%, #0191FF 100%);
    background-image: linear-gradient(to top, #1A4FD5 0%, #0191FF 100%);
}
.header_button:hover {
    display: inline-block;
    position: relative;
    background-image: -webkit-gradient(
    	linear,
    	left bottom,
    	left top,
    	color-stop(0, #173C91),
    	color-stop(1, #0064AB)
    );
    background-image: -o-linear-gradient(top, #173C91 0%, #0064AB 100%);
    background-image: -moz-linear-gradient(top, #173C91 0%, #0064AB 100%);
    background-image: -webkit-linear-gradient(top, #173C91 0%, #0064AB 100%);
    background-image: -ms-linear-gradient(top, #173C91 0%, #0064AB 100%);
    background-image: linear-gradient(to top, #173C91 0%, #0064AB 100%);
}

.header_button > div {
    display: inline-block;
    font-family: 'Roboto Condensed', sans-serif;
}
