* {
  position:absolute;
}
body {
  margin: 0;
  padding: 0;
}

#bar {
  display: inline-block;
  top: 0;
  left: 0;
  background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0.1, #00A2FF),
	color-stop(1, #00BDBA)
  );
  background-image: -o-linear-gradient(bottom, #00A2FF 10%, #00BDBA 100%);
  background-image: -moz-linear-gradient(bottom, #00A2FF 10%, #00BDBA 100%);
  background-image: -webkit-linear-gradient(bottom, #00A2FF 10%, #00BDBA 100%);
  background-image: -ms-linear-gradient(bottom, #00A2FF 10%, #00BDBA 100%);
  background-image: linear-gradient(to bottom, #00A2FF 10%, #00BDBA 100%);
}

#leftmenu {
    display: inline-block;
    left: 0;
    background-color: #00BDBA;
}
