* {
  position:absolute;
  -webkit-user-select: none;
  user-select: none;
}
body {
  margin: 0;
  padding: 0;
  background-color: black;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#background {
    display: inline-block;
    position: absolute;
    background-image: -webkit-linear-gradient(left top, #2BB6D9 10%, #0F5499);
    background-image: linear-gradient(left top, #2BB6D9 10%, #0F5499);
    opacity: 0.2;
    -webkit-transition: 700ms opacity ease;
    transition: 700ms opacity ease;
}
#background:hover {
    /*opacity: 0.4;*/
}

#background-pic {
    display: inline-block;
    position: absolute;
    background-image: url("images/waterfall.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.12;
    -webkit-transition: 700ms opacity ease;
    transition: 700ms opacity ease;
    filter: blur(2px);
}

#page {
}
#page h1 {
    position: absolute;
    display: inline-block;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 60px;
    color: white;
}

.content {
    position: absolute;
    opacity: 0;
    border-radius: 7px;
}

#down {
    opacity: 0.5;
    -webkit-transition: 400ms opacity ease;
    transition: 400ms opacity ease;
}
#down:hover {
    opacity: 0.9;
}

.unselected {
    /*opacity: 0.6;*/
    /*background-image: -webkit-linear-gradient(#0191FF, #1A4FD5);
    background-image: linear-gradient(#0191FF, #1A4FD5);
    */
}

.selected {
    /*
    background-image: -webkit-linear-gradient(#0064AB, #173C91);
    background-image: linear-gradient(#0064AB, #173C91);
    */
    /*opacity: 0.9;*/
    font-weight: bold;
    background-color: rgba(0, 255, 255, 0.19);
}
.selected div {
    margin-left: -1px;
}
