* {
  position:absolute;
}
#bar {
  display: inline-block;
  top: 0;
  left: 0;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.1, #00A2FF),
    color-stop(1, #00BDBA)
  );
  background-image: -o-linear-gradient(top, #00A2FF 10%, #00BDBA 100%);
  background-image: -moz-linear-gradient(top, #00A2FF 10%, #00BDBA 100%);
  background-image: -webkit-linear-gradient(top, #00A2FF 10%, #00BDBA 100%);
  background-image: -ms-linear-gradient(top, #00A2FF 10%, #00BDBA 100%);
  background-image: linear-gradient(to top, #00A2FF 10%, #00BDBA 100%);
}
